.body_bg{
    background-color: rgba(0, 0, 0, 0.95);
    /* background: -moz-linear-gradient(rgba(3, 19, 59, 0.77), transparent 75%); */
}

#box_Container{
    width: 350px;
    height: 510px;
    /* background-color: midnightblue; */
    /* background: -moz-linear-gradient(rgba(17, 54, 147, 0.77), transparent 75%); */
    background: linear-gradient(rgba(17, 54, 147, 0.77), transparent 75%);
    text-align: center;
    padding: 20px;
    position: relative;
    top: 100px;

    border-radius: 10px;
    /* border-top-left-radius: 20px; */
}
@media(max-width: 500px){
    #box_Container{
        top: 50px;
    }
}

.ttl{
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 10px;
}
.para{
    padding-top: 3px;
    color: aliceblue;
    font-size: medium;
}

#hint{
    font-style: oblique;
    color: rgba(255, 200, 0, 0.917);
}

.btn{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    border-style: solid;
    border-color: rgba(10, 46, 85, 0.083);
    font-weight: bold;
    font-size: small;
    padding: 5px;
    border-radius: 5px;

    background-color: rgb(18, 216, 18);
    color: rgba(26, 29, 32, 0.863);
}
.btn2{
    background-color: rgb(215, 53, 53);
    color: rgba(240, 248, 255, 0.863);
}

#userInput{
    color: rgba(231, 236, 240, 0.896);
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(43, 12, 83, 0.093);

    border-style: solid;
    border-color: rgba(30, 67, 131, 0.922);
}

#imgSet{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(32, 109, 126, 0.505);
    overflow: hidden;
}

